.cart-dropdown {
    position: relative;
  }
  
  .cart-dropdown-menu {
    position: absolute;
    left: -40px;
    top: calc(100% + 2.5rem);
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-40px);
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

