.profile-dropdown {
    position: relative;
  }
  
  .profile-dropdown-menu {
    position: absolute;
    left: 0px;
    top: calc(100% + 1.5rem);
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-35px);
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }


  .profile-dropdown-link p {
    cursor: pointer;
    margin: 5px 0;
    color: black;
    text-decoration: underline;
  }

  .profile-dropdown-link p:hover {
    color: rgb(240, 147, 7);
    text-decoration: underline;
  }

  .profile-dropdown .link {
    display: flex;
    flex-direction: row;
  }

  .profile-dropdown .link p {
    color: white;
    margin-right: 4px;
  }

  .profile-dropdown-arrow {
    margin-top: 6px;
    font-size: 8px;
  }

