.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  width: 400px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-message {
  margin-bottom: 25px;
}

.register-message h1 {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
}

.register-message h3 {
  margin: 0;
  font-size: 16px;
  color: #888;
}

.password-error {
  margin-bottom: 10px;
  color: red;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-field label {
  margin-bottom: 5px;
  font-weight: bold;
  padding-left: 5px;
}

.form-field input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 95%;
}

.register-button {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.register-button:hover {
  background-color: #3367d6;
}

p {
  margin: 0;
  font-size: 14px;
  color: #888;
  text-align: center;
}
