.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-page-back-button {
    display: flex;
    justify-content: flex-start;
  }

  .product-page-back-button button {
    margin: 20px 0 30px 55px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .product-page-back-button button:hover {
    background-color: #555;
  }

  
  .product-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-page-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 50px;
  }
  
  .product-page-image {
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
  
  .product-page-image img {
    width: 600px;
    height: 500px;
    object-fit: contain;
  }
  
  .product-page-info {
    flex-grow: 1;
    max-width: 800px;
  }
  
  .product-page-purchase {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
  
  .product-page-purchase h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-page-purchase h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-page-purchase button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #f0c14b;
    color: #111;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  
  .product-page-purchase button:hover {
    background-color: #f1b620;
  }
  
  .product-page-purchase button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bff;
  }
  
  .product-page-purchase button:active {
    transform: translateY(1px);
  }
  
  .product-page-description-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
  
  .product-page-description-container h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-page-description {
    font-size: 16px;
    line-height: 1.5;
  }
  