/* Cart Product Card Component */
.cart-product-card {
  display: flex;
  align-items: flex-start;
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-product-card-image img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 16px;
  cursor: pointer;
}

.cart-product-card-details {
  flex-grow: 1;
}

.cart-product-card-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cart-product-card-name {
  font-size: 18px;
}

.cart-product-card-in-stock {
  font-size: 14px;
  color: green;
}

.cart-product-card-quantity-delete-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cart-product-card-quantity-container {
  display: flex;
  align-items: center;
}

.cart-product-card-quantity {
  margin-right: 8px;
  font-size: 17px;
}

.cart-product-card-select-container select {
  padding: 4px;
  font-size: 12px;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.cart-product-card-select-container select:hover {
  border-color: #888;
}

.cart-product-card-select-container select:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


.cart-product-card-delete-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-product-card-price {
  align-self: flex-start;
  margin-left: auto;
}

.cart-product-card-price p {
  font-size: 18px;
  font-weight: bold;
}
