.profile-dropdown {
    position: relative;
  }
  
  .profile-dropdown-menu {
    position: absolute;
    left: 0px;
    top: calc(100% + 1.5rem);
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-35px);
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .profile-dropdown button input {
    padding: 7px;
    width: 400px;
  }

.search-bar-items {
    max-height: 600px;
    overflow: auto;
}

.search-bar-product-card {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.search-bar-product-card p {
    color: black;
    padding: 0 20px 0 30px

}

.search-bar-product-card img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    padding-bottom: 10px;
}