.cart {
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 100px;
  padding-left: 150px;
}

.cart h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.cart-price {
  font-size: 20px;
  margin-bottom: 8px;
}

.cart-products {
  margin-bottom: 16px;
  max-width: 1000px;
}

.cart-check-out-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #f0c14b;
  color: #111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-subtotal {
  position: absolute;
  font-size: 16px;
  color: #111;
  left: 500px;
}


/* ---------------- empty cart --------------------- */

.empty-cart {
  text-align: center;
  padding: 20px;
}

.empty-cart h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sign-in-button,
.sign-up-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-button:hover,
.sign-up-button:hover {
  background-color: #d0d0d0;
}

.sign-in-button:focus,
.sign-up-button:focus {
  outline: none;
}
