.cart {
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 100px;
  padding-left: 150px;
}

.cart-component h1 {
  font-size: 24px;
  margin-bottom: 16px;
  margin-left: 40px;
}

.cart-products {
  margin-bottom: 16px;
  width: 600px;
}

.order-summary-container {
  flex: 1;
  background-color: #f3f3f3;
  max-width: 500px;
}

.order-summary {
  padding: 20px;
}

.order-summary h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.order-summary-details {
  margin-bottom: 16px;
}

.order-summary-text {
  color: rgb(109, 107, 107);
}

.order-summary h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.cart-check-out-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #f0c14b;
  color: #111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-products-background {
  background-color: #fff;
}
