.header {
  border-bottom: 1px solid #333;

}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: rgb(14, 15, 44);
  }
  
  .logo {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .logo img {
    width: auto;
    height: 40px;
    cursor: pointer;
  }
  
  .top-header button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .top-header button:hover {
    background-color: #555;
  }

  

/*  nav header */

.nav-header {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  background-color: rgb(75, 73, 109);
  min-width: 100%;
  padding: 7px 0;
}

.nav-header p {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.nav-header p:hover {
  text-decoration: underline;
}

.nav-header-link {
  padding-left: 10px;
  border-left: 2px solid rgb(126, 117, 117);
  color: white;
}



  